body{
    padding: 0;
    margin: 0;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.mainContainer{
    display: grid;
    grid-template-areas: 'playerTurnContainer'
    'gameboardContainer'
    'buttonsContainer';

    grid-auto-flow: row;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100vh;
}

.grid{
    border: 3px solid black;
    width: 500px;
    height: 500px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell{
    border: 3px solid black;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

.cell:hover{
    background: rgb(216, 216, 216);
    outline: none;
}

h2{
    font-size: 3rem;
}

.gameboardContainer{
    grid-area: 'gameboardContainer';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.playerTurnContainer{
    grid-area: 'playerTurnContainer';
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.buttonsContainer{
    grid-area: 'buttonsContainer';
    display: flex;
    justify-content: center;
    align-items: start;
}

.newGameButton{
    border: none;
    background-color: black;
    color: white;
    min-width: fit-content;
    width: 15rem;
    height: 3rem;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newGameButton:hover{
    opacity: 80%;
}
