.grid{
    border: 1px solid black;
    width: 500px;
    height: 500px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell{
    border: 1px solid black;
}

.gameboardContainer{
    border: 1px solid black;
    width: 700px;
    height: 700px;
}